<h1>Radio/fieldset error test</h1>

<button aria-describedby="reduced-test-message" type="button">Reduced test</button>
<p id="reduced-test-message">Reduced test case aria-describedby message.</p>

<section aria-labelledby="fieldset-section-heading">
  <h2 id="fieldset-section-heading">Error, <code>aria-describedby</code> on the <code>fieldset</code> element
  </h2>
  
  <form accept-charset="UTF-8" method="post">
    <fieldset 
      id="fieldset-1"
      tabindex="-1"
      aria-invalid="true" 
      aria-describedby="fieldset-error-message">
      <legend>How many team members will be working with you?</legend>
  
      <input id="fieldset-members-just-me" name="fieldset-members" type="radio">
      <label for="fieldset-members-just-me">Just me</label>
  
      <input id="fieldset-members-2-5" name="fieldset-members" type="radio">
      <label for="fieldset-members-2-5">2-5</label>
  
      <input id="fieldset-members-5-10" name="fieldset-members" type="radio">
      <label for="fieldset-members-5-10">5-10</label>
  
      <input id="fieldset-members-10-20" name="fieldset-members" type="radio">
      <label for="fieldset-members-10-20">10-20</label>
  
      <input id="fieldset-members-20-50" name="fieldset-members" type="radio">
      <label for="fieldset-members-20-50">20-50</label>
  
      <input id="fieldset-members-50-plus" name="fieldset-members" type="radio">
      <label for="fieldset-members-50-plus">50+</label>
    </fieldset>
  
    <p id="fieldset-error-message">Please select the number of team members</p>
  
    <button id="fieldset-button" type="button" name="fieldset-submit">Continue</button>
  </form>
</section>

<section aria-labelledby="legend-section-heading">
  <h2 id="legend-section-heading">Error, <code>aria-describedby</code> on the <code>legend</code> element</h2>

  <form accept-charset="UTF-8" method="post">
    <fieldset>
      <legend
        id="legend-1"
        tabindex="-1"
        aria-invalid="true" 
        aria-describedby="legend-error-message">How many team members will be working with you?</legend>
  
      <input id="legend-members-just-me" name="legend-members" type="radio">
      <label for="legend-members-just-me">Just me</label>
  
      <input id="legend-members-2-5" name="legend-members" type="radio">
      <label for="legend-members-2-5">2-5</label>
  
      <input id="legend-members-5-10" name="legend-members" type="radio">
      <label for="legend-members-5-10">5-10</label>
  
      <input id="legend-members-10-20" name="legend-members" type="radio">
      <label for="legend-members-10-20">10-20</label>
  
      <input id="legend-members-20-50" name="legend-members" type="radio">
      <label for="legend-members-20-50">20-50</label>
  
      <input id="legend-members-50-plus" name="legend-members" type="radio">
      <label for="legend-members-50-plus">50+</label>
    </fieldset>
    <p id="legend-error-message">Please select the number of team members</p>
    
    <button id="legend-button" type="button" name="legend-submit">Continue</button>
  <form>
  
</section>

<section aria-labelledby="fieldset-with-radiogroup-heading">
  <h2 id="fieldset-with-radiogroup-heading">Error, <code>aria-describedby</code> on the <code>fieldset</code> element
  </h2>
  
  <form accept-charset="UTF-8" method="post">
    <fieldset 
      id="fieldset-2"
      tabindex="-1"
      aria-invalid="true" 
      aria-describedby="fieldset-radiogroup-error-message">
      <legend>How many team members will be working with you?</legend>
  
      <input id="fieldset-radiogroup-members-just-me" name="fieldset-radiogroup-members" type="radio">
      <label for="fieldset-radiogroup-members-just-me">Just me</label>
  
      <input id="fieldset-radiogroup-members-2-5" name="fieldset-radiogroup-members" type="radio">
      <label for="fieldset-radiogroup-members-2-5">2-5</label>
  
      <input id="fieldset-radiogroup-members-5-10" name="fieldset-radiogroup-members" type="radio">
      <label for="fieldset-radiogroup-members-5-10">5-10</label>
  
      <input id="fieldset-radiogroup-members-10-20" name="fieldset-radiogroup-members" type="radio">
      <label for="fieldset-radiogroup-members-10-20">10-20</label>
  
      <input id="fieldset-radiogroup-members-20-50" name="fieldset-radiogroup-members" type="radio">
      <label for="fieldset-radiogroup-members-20-50">20-50</label>
  
      <input id="fieldset-radiogroup-members-50-plus" name="fieldset-radiogroup-members" type="radio">
      <label for="fieldset-radiogroup-members-50-plus">50+</label>
    </fieldset>
  
    <p id="fieldset-radiogroup-error-message">Please select the number of team members</p>
  
    <button id="fieldset-radiogroup-button" type="button" name="fieldset-radiogroup-submit">Continue</button>
  </form>
</section>
